body {
    background-image: url(תמונות/רקעלמעלה.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;

}
#stop {
    color: black;
    margin-top: 1.5%;
    margin-left: 2%;
}
@keyframes blink {
    0% {
        opacity: 1;
        /* הצגת הטקסט באופן מלא */
    }

    50% {
        opacity: 0;
        /* הסתרת הטקסט */
    }

    100% {
        opacity: 1;
        /* הצגת הטקסט באופן מלא מחדש */
    }
}
@keyframes growShrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
.overlay {
    position: fixed; /* כדי להיות קבוע על כל המסך */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* צבע שחור בהיר */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* לוודא שה-overlay נמצא מעל הכל */
}

/* סטייל לכפתור המשולש */
.start-button {
    animation: growShrink 1.5s infinite alternate;
    background: none;
    border: none;
    color: white;
    font-size: 4rem;
    cursor: pointer;
}

.start-button:focus {
    outline: none;
}
header{
    width: 100%;
    height: 7vh;
    position: absolute;
    border-bottom: 1px solid rgb(128, 123, 123);
  
}
.fa-hamburger{
    cursor: pointer;
    margin-right: 3%;
    margin-left: 91%;
   position: absolute;
   margin-top: 0%;
   z-index: 4;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 95%;
  margin-top:1%;
  width: 3%;
  }
  
.dropdown-content a {
  color: rgb(121, 88, 27);
  padding: 2%;
  margin-bottom: 5%;
  text-decoration: none;
  display: block;
}
  .dropdown-content {
      right: 0;
    display: none;
    position: absolute;
    background-color: #e6d7d7;
    opacity: 0.9;
   width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5% 5%;
    z-index: 1;
    border-radius: 15%
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.price{
width: 10%;
display: inline-block;
position: absolute;
margin-left: 85.5%;
margin-top: 1%;
color: rgb(255, 255, 255);
font-size: 1.5rem;
height: 4.5vh;
opacity: 0.;
z-index: 1;
border-radius: 7%;

}
.burgerlogo{
    margin-top: -1%;
width: 5%;
height: 6vh;
display: inline-block;
position: absolute;
margin-left: 84%;
margin-top: 0.2%;
z-index: 2;
}
.fas{
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

#mainpicture {
    width: 100%;
    height: 80vh;
    margin-top: 20vh;
    z-index:3;
    margin-bottom: -20vh;
    left: 0;
    position: relative;
}
.ketchop-container {
    z-index: 5;
    position: relative;
    width: 15%;
    margin-top: -20%;
    margin-bottom: 10%;
    margin-left: 22%;
}

#ketchop {
    position: absolute;
    width: 100%;
    margin-top: -5%;
}

.food {
    width: 30%;
    margin-right: 40%;
    margin-top: 11%;
    margin-left: 37%;
    display: flex;
    flex-direction: row;
}

.food img {
    width: 33%;
    height: 20vh;
    z-index: 5;

}

.vegetables {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10%;
    width: 15%;
    position: absolute;
    bottom: 10vh;
    margin-left: 77%;
    margin-bottom: -3.5%;

}

#tomato {
    width: 100%;
    height: 60%;
    margin-bottom: 32%;
    z-index: 6;  
}

#lettuce {
    width: 100%;
    height: 60%;
    margin-top: -15%;
    position: absolute;
    margin-right: 60%;
    z-index: 5;
}
.Potatos {
    margin-left: 4%;
    display: flex;
    flex-direction: row;
    z-index: 6;
    position: absolute;
    margin-top: 9.5%;
}

#potato {
    height:15% ;
    margin-top: -20%;
    width: 11%;
    margin-right: -5%;
}

.drinkola {
    display: flex;
    flex-direction: row;
    width: 30%;
    position: absolute;
    margin-right: 7%;
    margin-top: -9%;
    margin-left: 85%;
    z-index: 5;
}

#kola {
    width: 35%;
    height: 40%;
    margin-top: -15%;
    margin-right: -22%;


}
.cupred{
    width: 20%;
    margin-top: -21%;
    margin-left: 13.2%;
}
.cupred img{
    
    z-index: 5;
    width: 11%;
    height: 28.5%;
    position: absolute;
}
#divcontain{
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 30%;
    margin-top: -10%;
    z-index: 0;
}

#customerimg{
    margin-top: 15%;
    animation: pulse 2s infinite;
}
#divfood{
    width: 10%;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 252, 252);
    height: 15vh;
    z-index: 1;
    margin-top: 0%;
    margin-left: -5%;
    border-radius: 10%;
    z-index: 0;
    display: flex;
    flex-direction: row;
}
.dragfood{
    height: 70%;
    width: 60%;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* הבהוב */
    }

    100% {
        transform: scale(1);
    }
}
#startAnimation{
    position: absolute;
    background-image: url('תמונות/כסףבלירקע.png');
    animation: bounce 4s ease infinite;
    width:5% ;
    height: 5%;
}
@keyframes bounce {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(-300px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.stopAnimation {
    animation: none !important;
    background-image: url('תמונות/כסףבלירקע.png');
}
.finish{
    width: 30%;
    height: 30%;
    background-color: rgb(181, 175, 141);
    color: #ffffff;
    margin-left: 35%;
    position: absolute;
    z-index: 8;
    font-size: 3rem;
    border-radius: 10%;
    opacity: 0.9;
}